<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-weixinPay"
    version="5.3.0">
    
    <name>Weixin</name>
    
    <js-module src="www/weixin.js" name="weixin">
        <clobbers target="navigator.weixin" />
    </js-module>
    
    <platform name="ios">
        
        <config-file target="config.xml" parent="/*">
            <feature name="Weixin">
                <param name="ios-package" value="Weixin"/>
            </feature>
        </config-file>
        
		<header-file src="src/ios/Weixin.h" />
        <source-file src="src/ios/Weixin.m" />
        <header-file src="src/ios/WXUtil.h" />
        <source-file src="src/ios/WXUtil.m" />

        <source-file src="src/ios/weixin/libWeChatSDK.a" framework="true" target-dir="weixin"/>
        <header-file src="src/ios/weixin/WXApi.h" target-dir="weixin"/>
        <header-file src="src/ios/weixin/WXApiObject.h" target-dir="weixin"/>

        <!-- AFNetworking -->
        <header-file src="src/ios/AFNetworking/AFHTTPSessionManager.h" target-dir="AFNetworking"/>
        <source-file src="src/ios/AFNetworking/AFHTTPSessionManager.m" target-dir="AFNetworking"/>
        <header-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.h" target-dir="AFNetworking"/>
        <source-file src="src/ios/AFNetworking/AFNetworkReachabilityManager.m" target-dir="AFNetworking"/>
        <header-file src="src/ios/AFNetworking/AFSecurityPolicy.h" target-dir="AFNetworking"/>
        <source-file src="src/ios/AFNetworking/AFSecurityPolicy.m" target-dir="AFNetworking"/>
        <header-file src="src/ios/AFNetworking/AFURLRequestSerialization.h" target-dir="AFNetworking"/>
        <source-file src="src/ios/AFNetworking/AFURLRequestSerialization.m" target-dir="AFNetworking"/>
        <header-file src="src/ios/AFNetworking/AFURLResponseSerialization.h" target-dir="AFNetworking"/>
        <source-file src="src/ios/AFNetworking/AFURLResponseSerialization.m" target-dir="AFNetworking"/>
        <header-file src="src/ios/AFNetworking/AFURLSessionManager.h" target-dir="AFNetworking"/>
        <source-file src="src/ios/AFNetworking/AFURLSessionManager.m" target-dir="AFNetworking"/>
        <header-file src="src/ios/AFNetworking/AFNetworking.h" target-dir="AFNetworking"/>

        <framework src="libsqlite3.0.tbd"/>
        <framework src="CFNetwork.framework"/>
        <framework src="libz.1.2.5.tbd" />
        <framework src="CoreTelephony.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libstdc++.6.0.9.tbd" />

		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
		    <array>
				<dict>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>CFBundleURLIconFile</key>
					<string></string>
					<key>CFBundleURLName</key>
					<string>wx</string>
					<key>CFBundleURLSchemes</key>
					<array>
						<string></string>
					</array>
				</dict>
			</array>
		</config-file>
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>safepay</string>
                <string>alipay</string>
                <string>weixin</string>
            </array>
        </config-file>
    </platform>
</plugin>
