<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-weixinPay"
    version="5.3.0">
    <name>Weixin</name>
    
    <js-module src="www/weixin.js" name="weixin">
        <clobbers target="navigator.weixin" />
    </js-module>
    
    <!--   android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Weixin">
        <param name="android-package" value="com.atide.cordova.plugin.weixin.Weixin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="wxab73944d08b342cf"/>
      </intent-filter>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity
        android:name="com.ionicframework.zhongxiao861120.wxapi.WXPayEntryActivity"
        android:exported="true"
        android:launchMode="singleTop">
      </activity>
      <receiver
          android:name="com.atide.cordova.plugin.weixin.AppRegister"
          android:permission="com.tencent.mm.plugin.permission.SEND" >
          <intent-filter>
              <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
          </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/org.apache.http.legacy.jar" target-dir="libs"/>
    <source-file src="src/android/libammsdk.jar" target-dir="libs"/>
    <source-file src="src/android/com/atide/cordova/plugin/weixin/Util.java" target-dir="src/com/atide/cordova/plugin/weixin" />
    <source-file src="src/android/com/atide/cordova/plugin/weixin/Weixin.java" target-dir="src/com/atide/cordova/plugin/weixin" />
    <source-file src="src/android/com/atide/cordova/plugin/weixin/AppRegister.java" target-dir="src/com/atide/cordova/plugin/weixin" />
    <source-file src="src/android/com/ionicframework/zhongxiao861120/wxapi/WXPayEntryActivity.java" target-dir="src/com/ionicframework/zhongxiao861120/wxapi" />
  </platform>

</plugin>
